<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child</title>
</head>

<body>
    <p>Here's the child</p>
    <p>Session ID is <%= sessionID %></p>
</body>

</html>